{% extends "user/layout.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Compose Music</h5>
          <p class="card-text">Compose your music.</p>
          <a href="{{url_for('input')}}" class="btn" target="_blank">Piano Roll</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Display Lead Sheet</h5>
          <p class="card-text">Play music.</p>
          <a href="{{url_for('xml')}}" class="btn" target="_blank">Lead Sheet</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


